
.opensans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.sec-bg{
    background-color: #FFF8F3;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    

}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 200px;
}
.title{
    font-weight: 800;
    font-size: 45px;
}
span{
    color:#FD6E0A;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark2, .experience-title{
    color: #474747;
}
.btn{
    background-color: #fd6f0ae3;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;

}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-des{
    font-size: 18px;
    color: #757575;
}
nav ul{
    display: flex;
    align-items: center;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 250px;
}
.banner-gret{
    font-weight: 600;
    font-size: 45px;
}
.banner-con{
    max-width: 580px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-img{
    width: 580px;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;

}
.textcenter{
    text-align: center;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.item-des{
    font-size: 20px;
    font-weight: bold;
}
.about-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.skillcont{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.resume-cont{
    display: flex;
    gap: 24px;
}
.experience-des{
    color: #757575;
}
.experience-sub{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.experience-title{
    font-weight: bold;
    font-weight: 30px;
}
.resume-dc{
    margin-top: 50px;
}
.footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-clm{
    width: 50%;
}
footer input[type="text"], .footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    
}